body{
    background-color: wheat ;
    font-family: 'Times New Roman', Times, serif;

}
img{
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 15%;
}
div{
    display: flex;
    justify-content: space-between;
    gap: 30%;
}
ul{
    display: flex;
    justify-content: center; /*Alignement horizontal*/
    gap: 20px;
    list-style: none; /*Enlever les puces de la liste*/
    align-items: center; /*Alignement vertical*/
}
li,a{
    font-size: 20px;
    font-weight: bold; /*mettre en gras*/
    text-decoration: underline; /*souligner*/
    color: black;
}
li:hover,a:hover{
    color: white;
    cursor: pointer; /*Changer la forme du curseur*/
 }
    


li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: beige;
    padding: 5px;
    border-radius: 10px;
}
li a:hover{
    background-color: black;
    color: blanchedalmond;
}
.container img{
    width: 300px;
    height: 400px;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container p{
    font-size: 20px;
}
section h1{
    text-align: center;
    text-decoration: underline;
}
.item{
    display: flex;
    margin-top: 10px;
}
.max{
    width: 200px;
    height: 20px;
    background-color: grey;
    border-radius: 10px;
}
.valeur{
    width: 95%;
    height: 20px;
    background-color: crimson;
    border-radius: 10px;
}
.valeur1{
    width: 60%;
    height: 20px;
    background-color: aquamarine;
    border-radius: 10px;
}
.valeur2{
    width: 70%;
    height: 20px;
    background-color: pink;
}
a img{
    width: 60px;
    height: 50px;
}
fieldset{
    width: 50%;
    font-size: 20px;
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
body{
    background-color:beige;
}
.form{
    display: flex;
    justify-content: ;
    gap: 10px;
    width: 30%;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;

}
.alignement{
    display: flex;
    align-items: center;
    gap: 30px;

}
.reseaux{
    display: flex;
    gap: 5px;
    justify-content: center;
}